<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
<meta charset="utf-8">
<title><%=typeof title == 'undefined' ? 'BOSSA Platform' : title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/styles/bootstrap.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->

          <link href="/styles/google-plus.css" rel="stylesheet">

        </head>

        <body class="container">

          <div class="navbar navbar-fixed-top header">
            <div class="col-md-12">
              <div class="navbar-header">

                <a href="/" class="navbar-brand">BOSSA Platform</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                  <!-- <i class="glyphicon glyphicon-search"></i> -->
                </button>

              </div>
              <div class="collapse navbar-collapse" id="navbar-collapse1">
                <!-- <form class="navbar-form pull-left">
                  <div class="input-group" style="max-width:470px;">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                      <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                 <li><a href="/projects_and_publications" target="_ext">Projects & Publications</a></li>
              </ul>
            </div>	
          </div>	
        </div>
        <!-- <div class="navbar navbar-default" id="subnav">
            <div class="col-md-12">
                <div class="navbar-header">
                  
                  <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
                  <ul class="nav dropdown-menu">
                      <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Pages</a></li>
                      <li class="nav-divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>
                  </ul>
                  
                  
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
              
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse2">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="active"><a href="#">Posts</a></li>
                     <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                     <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
                   </ul>
                </div>	
             </div>	
           </div> -->

           <!--main-->
           <div class="container" id="main">
             <div class="row">
               <div class="col-md-12"><h2>Projects & Publications</h2></div>
               <div class="col-sm-6 col-md-4">

                <div class="panel panel-default">
                  <div class="panel-thumbnail"><img src="/images/Indoor_Location.png" class="img-responsive"></div>
                  <div class="panel-body">
                    <p class="lead">Dispatchable Indoor Location System for Mobile Phones based on a BlueTooth Low Energy Array</p>
                    <p>Indoor Location Project</p>
                    
                    <p>
                      <a href="/pdf/Dispatchable-Indoor-Location-Davids-et-al.pdf">
                        <img align="right" src="/images/download_pdf.ico" height="28px" width="28px">
                      </a>
                      <a href="https://github.com/IIT-RTC-Lab">
                        <img align="right" src="/images/github_icon.ico" height="28px" width="28px">
                      </a>
                      <span class="label label-success">July 2017</span>
                      <span class="label label-primary">C.Davids</span>
                      <span class="label label-primary">C.Davids</span>
                      <span class="label label-primary">B.R.Nandakumar</span>
                      <span class="label label-primary">N.Okhandiar</span>
                      <span class="label label-primary">F.J.Rois</span>
                      <span class="label label-primary">C.Ljazouli</span>
                      <span class="label label-primary">A.Calle</span>
                    </p>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-thumbnail"><img src="/images/android_bt_caller_app.png" class="img-responsive"></div>
                  <div class="panel-body">
                    <p class="lead">A Dispatchable Bluetooth Indoor Location for Mobile Phones Calling for Emergency Services</p>
                    <p>Android BT Caller App</p>
                    
                    <p>
                      <a href="/pdf/Indoor-Location-BT-Based-SU2016.pdf">
                        <img align="right" src="/images/download_pdf.ico" height="28px" width="28px">
                      </a>
                      <a href="https://github.com/IIT-RTC-Lab/NG-911-Bluetooth">
                        <img align="right" src="/images/github_icon.ico" height="28px" width="28px">
                      </a>
                      <span class="label label-warning">July 2016</span>
                      <span class="label label-primary">A.Gonzalez</span>
                    </p>
                  </div>
                </div>

                <!-- <div class="panel panel-default">
                  <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
                  <div class="panel-body">
                    <div class="list-group">
                      <a href="http://usebootstrap.com/theme/google-plus" class="list-group-item">Modal / Dialog</a>
                      <a href="http://usebootstrap.com/theme/google-plus" class="list-group-item">Datetime Examples</a>
                      <a href="http://usebootstrap.com/theme/google-plus" class="list-group-item">Data Grids</a>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="well"> 
                     <form class="form-horizontal" role="form">
                      <h4>What's New</h4>
                       <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Update your status"></textarea>
                      </div>
                      
                       <button class="btn btn-success pull-right" type="button">Post</button><ul class="list-inline"><li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a></li></ul>
                    </form>
                  </div> -->

                  

                </div>
                <div class="col-sm-6 col-md-4">

                  <!-- <div class="well"> 
                     <form class="form">
                      <h4>Sign-up</h4>
                      <div class="input-group text-center">
                      <input class="form-control input-lg" placeholder="Enter your email address" type="text">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                      </div>
                    </form>
                  </div> -->

                  <div class="panel panel-default">
                    <!-- <p align="left">
                      <span class="label label-default">Label</span>
                      <span class="label label-success">Success</span>
                    </p> -->
                    <div class="panel-thumbnail"><img src="/images/MAIN_diagram_notitle.png" class="img-responsive"></div>
                    <div class="panel-body">
                      <p class="lead">Indoor Location - Platform for Developers and Mobile Applications</p>
                      <p>BOSSA Platform</p>

                      <p>

                        <a href="/pdf/TFM_MET_RoisSisoFranciscoJose_IndoorLocationPlatformForDevelopersAndMobileApplications.pdf">
                          <img align="right" src="/images/download_pdf.ico" height="28px" width="28px">
                        </a>
                        <a href="https://github.com/IIT-RTC-Lab/BOSSA_Platform">
                          <img align="right" src="/images/github_icon.ico" height="28px" width="28px">
                        </a>

                        <span class="label label-success">July 2017</span>
                        <span class="label label-primary">F.J.Rois</span>
                      </p>
                    </div>
                  </div>

                </div>
                <div class="col-sm-6 col-md-4">

                  <div class="panel panel-default">
                   <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>IPTComm 2017: Principles, Systems and Applications of IP Telecommunications.
                   </h4></div>
                   <div class="panel-body">
                    <p><img src="/images/iit_mccormick.jpg" class="img-circle pull-right"> <a href="http://www.rtc-conference.com/2017/">Registration is now open.</a></p>
                    <div class="clearfix"></div>
                    <hr>
                    IPTComm is co-located with 
                    <a href="http://www.iit.edu">Illinois Institute of Technology</a>'s Real-time 
                    Communications Conference (RTC). Registration for RTC includes 
                    IPTComm.
                  </div>
                </div>
              </div>
            </div><!--/row-->
          </div>
        </div>
      </div>

      <br>

      <div class="clearfix"></div>

      <hr>

      <div class="col-md-12 text-left">
        <p>&copy; 2017 <a href="https://linkedin.com/in/franciscorois">froissiso</a> <a href="https://appliedtech.iit.edu/rtc-lab">IIT RTC-Lab</a></p>
      </div>
    </div>
  </div><!--/main-->



  <!--login modal-->
  <div style="display: none;" id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="assets/img/photo_002.png" class="img-circle"><br>Login</h2>
        </div>
        <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input class="form-control input-lg" placeholder="Email" type="text">
            </div>
            <div class="form-group">
              <input class="form-control input-lg" placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
        </div>
      </div>
    </div>
  </div>


  <!--about modal-->
  <div style="display: none;" id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center">About</h2>
        </div>
        <div class="modal-body">
          <div class="col-md-12 text-center">
            <a href="http://usebootstrap.com/theme/google-plus">This Bootstrap Template</a><br>was made with <i class="glyphicon glyphicon-heart"></i> by <a href="http://usebootstrap.com/theme/google-plus">Bootply</a>
            <br><br>
            <a href="https://github.com/iatek/bootstrap-google-plus">GitHub Fork</a>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="assets/js/jquery.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>

  <script type="text/javascript">

  $(document).ready(function() {

   $('#btnToggle').click(function(){
    if ($(this).hasClass('on')) {
     $('#main .col-md-6').addClass('col-md-4').removeClass('col-md-6');
     $(this).removeClass('on');
   }
   else {
     $('#main .col-md-4').addClass('col-md-6').removeClass('col-md-4');
     $(this).addClass('on');
   }
 });
 });

  </script>

</body></html>